
<div ng-include="'views/navbar.html'"></div>

<div class="container " id="content-container">

<div class="row text-center">
    <img class="img-circle img-thumbnail" id="avatar-profile" ng-src="{{userInfo.value.avatarURL}}" alt="Unavaillable">
    <h2 class="bold">{{userInfo.value.firstName+" "+userInfo.value.lastName}}</h2>
</div>

 
<br>   
<br> 
<div class="row ">
    <div class="col-sm-0 col-md-1 "></div>
    <div class="col-sm-12 col-md-4  ">
        <h2>Info</h2>
        <table class="table">
            
            <tr >
              <td>
                Email:
              </td>
              <td>
                {{userInfo.value.email}}
              </td>
            </tr>
            <tr>
              <td>
                Phone:
              </td>
              <td>
                {{userInfo.value.phoneNumber}}
              </td>
            </tr>
            <tr>
              <td>
                Location:
              </td>
              <td>
                {{userInfo.value.location.city}}
              </td>
            </tr>
          </table>
    </div>
    <div class="col-sm-0 col-md-1 "></div>
    

    <div  class="col-sm-12 col-md-6 img-thumbnail">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
    

</div>
    
  <p>{{userInfo.value.email}}</p>
  <p>{{userInfo.value.phoneNumber}}</p>
  <p>{{userInfo.value}}</p> 


    <ul class="list-group">
   
    <li class="list-group-item" ng-repeat="event in userPublishedEvents">
        <h4>{{event.title}}</h4>
        <p>{{event.description}}</p>
        <p>Deadline {{event.deadline | date}}</p>
        
    </li>
    
    </ul>
    

    
    

</div>

<!--
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:44.6580846, lng: 25.5588447},
          zoom: 13
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByakozUVI_wqTv8xWw54mQaDTQm8VgV2c&callback=initMap"
    async defer></script>
-->
