*{
    margin: 0;
    padding: 0;
}


nav button{
    margin-left: 10px;
}

#content-container{
    margin-top: 60px;
    /*background-color: darkgray;*/
}

.silver{
    background-color:silver;
}

.blue{
    background-color:blue;
}


.login{
    width: 300px;
    margin: 50px auto;

}

 input.ng-dirty.ng-valid {
     background-color: lightgreen;
 }

 input.ng-dirty.ng-invalid {
     background-color: tomato;
 }

input.ng-dirty{
    background-color: gray;
}

#avatar-profile{
    height: 200px;
    width: 200px;
    
    
}

.header-profile{
   
    width: 100%;
    padding: 10px;
    text-align: center;
}

.angular-google-map-container {
    height: 300px;
}